.sort-arrow {
    color: #000;
}

.sort-arrow.ascending-sort {
    color: #0052fa;
}

.sort-arrow.descending-sort i {
    color: #0052fa;
    transform: rotate(180deg);
}

.data-form {
    display: block;
    padding-top: 50px;
}

/*So that the table does not jump*/
.table td:nth-child(1) {
    width: 10%;
}

.table td:nth-child(2) {
    width: 30%;
}

.table td:nth-child(3) {
    width: 20%;
}

.table td:nth-child(4) {
    width: 30%;
}

.table td:nth-child(5) {
    width: 10%;
}

.table {
    user-select: none;
    position: relative;
    overflow: hidden;
}

.table-striped>tbody>tr:nth-of-type(even) {
    background-color: #fff;
}

.table tr {
    width: 100%;
}